<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the requested resource exists as a file or directory, serve it directly.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, rewrite the request to index.php.
    RewriteRule ^ index.php [L]
</IfModule>
